body {
body {
  background-color: #916953 ;
}

h1 {
  color: #DBEBC0;
  background-color: #CBD4C2;

}

p {
  color: #F3D9DC;
  font-size: 25px;
}

img {
  max-width: 25%;
}

nav {
  list-style-type: none;
  background-color: #151515;
  width: 100%;
  overflow: hidden;
}

li {
  text-align: center;
}

li a {
  display: block;
  color: #BED84D;
  text-decoration: none;
  padding: 25px 185px;
  font-size: 25px;
}
}
